<!DOCTYPE html>
<html>
<head>
<title>TapQue</title>
	<%= stylesheet_link_tag "homepage" %>
</head>

<body>
<div id="bgDiv">

<div class="cover-body">
	<div class="cover-body-inner"><h1 class="cover-title">TapQue</h1><p class="cover-description">A better place to get apps for your business<br></p>
	</div>
</div>

</div>


</body>


</html>
